<html>
<head>
    <title>Test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        span {
            float: right;
            margin-right: 15px;
        }
        .row {
            margin-bottom: 5px;
            border-bottom: 1px solid #F1F1F1;
        }
    </style>
</head>
<body>
<div class="content">
    <div class="well" style="max-width: 750px; margin:0 auto;">
        <div class="row">{{id}}</div>
        <div class="row">{{address1}}</div>
        <div class="row">{{address2}}</div>
        <div class="row">{{city}}</div>
        <div class="row">{{country}}</div>
        <div class="row">{{state}}</div>
        <div class="row">{{mobilePhone}}</div>
        <div class="row">{{alternatePhone}}</div>
        <div class="row">{{rate}}</div>
        <div class="row">{{offered}}</div>
        <div class="row">{{unsupervisedPetArea}}</div>
        <div class="row">{{maxDogsAllowed}}</div>
        <div class="row">{{petNightSleepArea}}</div>
        <div class="row">{{maxWalksPerDay}}</div>
        <div class="row">{{supervisionLevel}}</div>
        <div class="row">{{maxPottyBreaksPerDay}}</div>
        <div class="row">{{rate}}</div>
        <div class="row">{{offered}}</div>
        <div class="row">{{maxDogsAllowed}}</div>
        <div class="row">{{0}}</div>
        <div class="row">{{1}}</div>
    </div>
</div>
</body>
</html>